<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>361770876181-j66tlq70akrge8rovsf9bkr1rmngqbm2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4TlLodqqHXIaClIH77LZL93FCqkQ1wYE</string>
	<key>GCM_SENDER_ID</key>
	<string>361770876181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cancer</string>
	<key>PROJECT_ID</key>
	<string>myapp-384e3</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-384e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361770876181:ios:121cb17306a96282d83d1c</string>
</dict>
</plist>